<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tournow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourNow">

        <activity android:name=".ui.home.PlaceListByDivision"
            android:exported="true" />
        <activity android:name=".ui.home.PlaceListByPlaceType"
            android:exported="true" />
        <activity
            android:name=".BudgetNewsfeedAbout.ParticularPostActivity"
            android:exported="true" />
        <activity android:name=".NetworkErrorActivity" />
        <activity android:name=".DhakaDivisionActivity" />
        <activity android:name=".TrainTicketActivityWebview" />
        <activity android:name=".TrainTicketActivity" />
        <activity android:name=".LaunchTicketActivityWebview" />
        <activity android:name=".LaunchTicketActivity" />
        <activity android:name=".BusTicketActivityWebview" />
        <activity android:name=".BusTicketActivity" />
        <activity android:name=".BimanTicketActivityWebview" />
        <activity android:name=".BimanTicketActivity" />
        <activity android:name=".HotelActivityBuking" />
        <activity android:name=".HotelBukingActivityWebview" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TourNow.NoActionBar"></activity>
    </application>

</manifest>